html {
	height: 100%;
}

body {
	font-family: Helvetica;
	background: #BBEEBB; /* Old browsers */
	background: -moz-linear-gradient(top, #9ced9c 0%, #bbeebb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ced9c), color-stop(100%,#bbeebb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9ced9c 0%,#bbeebb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9ced9c 0%,#bbeebb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9ced9c 0%,#bbeebb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9ced9c 0%,#bbeebb 100%); /* W3C */
	background-attachment: fixed;
}

.content-container {
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: 8px;
}

.header {
	padding-top: 2px;
	padding-bottom: 2px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	text-align: center;
}

.header h1 {
	color: #FFFFFF;
}

.photos {
	/*background-color: #83d083;*/
	-webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}

.photos img{
	margin: 8px;
    vertical-align:bottom;
    opacity:0;

    max-width:480px;
    max-height:480px;
    width: auto;
    height: auto;
}